.theme--dark.v-data-table .v-row-group__header,
.theme--dark.v-data-table .v-row-group__summary {
  background: var(--v-secondary-darken2) !important;
}

.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: var(--v-secondary-darken1) !important;
}

.theme--dark.v-data-table tbody tr.v-data-table__selected {
  background: var(--v-secondary-darken2) !important;
  color: var(--v-primary-base) !important;
}

.theme--light.v-data-table tbody tr.v-data-table__selected {
  background: var(--v-primary-lighten4) !important;
}

.theme--dark.v-stepper .v-stepper__step--active .v-stepper__label {
  text-shadow: none !important;
}

.theme--dark.v-application a {
  color: var(--v-primary-lighten2);
}

.theme--dark.v-list-item--active,
.theme--dark.v-list--dense .v-list-item .v-list-item__icon,
.theme--dark.v-list .v-list-item--active {
  color: var(--v-primary-lighten2);
}
