@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.v-application {
  font-family: "PT Sans", sans-serif !important;
  line-height: 1.5;
}

.w-100 {
  width: 100%;
}

.tab-left {
  text-align: left !important;
  justify-content: normal !important;
}

.v-slide-group:not(.v-slide-group--has-affixes) > .v-slide-group__prev--disabled, .v-slide-group:not(.v-slide-group--has-affixes) > .v-slide-group__next--disabled {
  display: none !important;
}

.theme--dark.v-data-table tbody tr.v-data-table__selected {
  color: white !important;
}

tr > td:first-child {
  border-left: 2px solid transparent;
}

tr.v-data-table__selected.v-data-table__mobile-table-row > td {
  border-left: 2px solid var(--v-primary-base);
}

tr.v-data-table__selected > td:first-child {
  border-left: 2px solid var(--v-primary-base);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

.v-small-dialog__activator__content {
  word-break: break-word;
}

.dense .v-list-item {
  min-height: 25px !important;
}

.v-simple-checkbox {
  width: -moz-fit-content;
  width: fit-content;
}

td.text-center .v-simple-checkbox {
  display: contents;
}

@-webkit-keyframes spin /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.font-condensed {
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
}

.overlay-w-100 .v-overlay__content {
  width: 100% !important;
  height: 100% !important;
}

.v-data-table tr:hover td .hover-hide {
  visibility: hidden;
}

.v-data-table tr td .hover-show {
  display: none !important;
}

.v-data-table tr:hover td .hover-show {
  display: block !important;
  position: absolute;
  top: 0;
}

.position-relative {
  position: relative !important;
}

.primary-hover {
  color: var(--v-secondary-lighten4) !important;
  caret-color: var(--v-secondary-lighten4) !important;
}

.primary-hover:hover {
  color: white !important;
  caret-color: white !important;
}

.danger-hover {
  color: var(--v-error-darken1) !important;
  caret-color: var(--v-error-darken1) !important;
}

.danger-hover:hover {
  color: var(--v-error-base) !important;
  caret-color: var(--v-error-base) !important;
}