tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

.v-small-dialog__activator__content {
  word-break: break-word;
}

.dense .v-list-item {
  min-height: 25px !important;
}

.v-simple-checkbox {
  width: -moz-fit-content;
  width: fit-content;
}

td.text-center .v-simple-checkbox {
  display: contents;
}
